**DAY 4: ASSIGNMENT 3 (Dictionary and Sets)**

**DATE: 27 MAY 2021**

**AUTHOR: AAMIR P**

**REG. ID.: GO_STP_7724**

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [2]:
import operator #defing operator to use itemgetter
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Orginal Dictionary: ',d)
sorted_d = dict(sorted(d.items(), key=operator.itemgetter(1))) #itemgetter(1) is for value; 0 for key
print('Dictionary in ascending order by value',sorted_d)
sorted_d = dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True)) 
print('Dictionary in descending order by value',sorted_d)

Orginal Dictionary:  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
Dictionary in descending order by value {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

Q.2 Write a Python Program to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [3]:
d={0:10,1:20}
d.update({2:30})
print(d)

{0: 10, 1: 20, 2: 30}

Q.3 Write a program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [40]:
city1=input(("Enter the city: "))
temperature1=int(input(('Enter the temperature: ')))
city2=input(("Enter the city: "))
temperature2=int(input(('Enter the temperature: ')))

cities=[city1,city2]

temperature=[temperature1,temperature2]

zipped = zip(cities, temperature)
zipped  # Holds an iterator object
type(zipped)
list(zipped)

Enter the city: Chennai
Enter the temperature: 45
Enter the city: Mumbai
Enter the temperature: 37

[('Chennai', 45), ('Mumbai', 37)]

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

[ ]

In [41]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': a, 'color_code': b} for a, b in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee Salary

John 14

Smith 13

Alice 32

Daneil 21

Using above create a dictionary of Employees and their Salary Write a program that asks user for three type of inputs, print: if user enter print then it should print all Employees with their Salary in this format,

John ==>14

Smith ==>13

Alice ==>32

Daneil ==>21

add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [46]:
#create dictionary
emp_sal={'John':14,'Smith':13,'Alice':32,'Daneil':21} 
emp_sal

{'Alice': 32, 'Daneil': 21, 'John': 14, 'Smith': 13}

In [60]:
d={'John': 14, 'Smith': 13, 'Alice': 32, 'Daniel':21 }
n=0
while(n<=3):
  a=input("Enter your choice of the following: a)Print b)Add c)Remove d)Query: ")
  if a=='Print':
    for i in d:
      print(i+" ==> ",d[i])


  elif a=='Add':
    f=0
    name= input("Enter the name of employee: ")
    for i in d:
      if i==name:
        print("Employee already exists!")
        f=1
        
    if f==0:
      salary=input("Enter The salary(in lakhs): ")
      d[name]= salary
      print (d)
      
    


  elif a=='Remove':
    flag=0
    rname=input("Enter the employee you want to remove: ")
    for j in d:
      if j==rname:
        d.pop(rname)
        flag=1
        
    if flag==0:
      print("Name does not exist!")
    else:
      print(d)


  elif a=='Query':
    qname= input("Enter the name you want to query about: ")
    for k in d:
      if k==qname:
        print(k+"==>",d[k])
        flag1=1
    if flag1==0:
      print("Employee does not exist!")

        
  n=n+1

Enter your choice of the following: a)Print b)Add c)Remove d)Query: Query
Enter the name you want to query about: Alice
Alice==> 32
Enter your choice of the following: a)Print b)Add c)Remove d)Query: Add
Enter the name of employee: Wasim
Enter The salary(in lakhs): 21
{'John': 14, 'Smith': 13, 'Alice': 32, 'Daniel': 21, 'Wasim': '21'}
Enter your choice of the following: a)Print b)Add c)Remove d)Query: Remove
Enter the employee you want to remove: Priya
Name does not exist!
Enter your choice of the following: a)Print b)Add c)Remove d)Query: Print
John ==>  14
Smith ==>  13
Alice ==>  32
Daniel ==>  21
Wasim ==>  21

Questions on Sets-

Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Frozen set is just an immutable version of a Python set object. While elements of a set can
be modied at any time, elements of the frozen set remain the same after creation. Due to this,
frozen sets can be used as keys in Dictionary or as elements of another set.

In [62]:
x = set("A Python Tutorial")
print(x)
print(type(x))

{'o', 'A', 'l', 't', 'T', 'i', 'u', 'P', 'r', 'n', 'a', ' ', 'h', 'y'}
<class 'set'>

In [64]:
fSet = frozenset(x)
print('The frozen set is:', fSet)
print(type(fSet))

The frozen set is: frozenset({'o', 'A', 'l', 't', 'T', 'i', 'u', 'P', 'r', 'n', 'a', ' ', 'h', 'y'})
<class 'frozenset'>

Q.2 Find the elements in a given set that are not in another set
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
Difference between set1 and set2 is {10,20,30}

In [65]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Original sets:")
print(set1)
print(set2)
print("Difference of set1 and set2 using difference():")
print(set1.difference(set2))
print("Difference of set2 and set1 using difference():")
print(set2.difference(set1))

Original sets:
{40, 10, 50, 20, 30}
{70, 40, 80, 50, 60}
Difference of set1 and set2 using difference():
{10, 20, 30}
Difference of set2 and set1 using difference():
{80, 60, 70}